body{
    background-color: #F9DFDC;
  }

hr {
    border-style: none;
    border-top: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5% ;
  }

h1{
  color: #0A81AB;
}

h3{
  color: #0C4271;
}
